{
  "arrowParens": "always",

  "trailingComma": "none",
  "tabWidth": 2,
  "endOfLine": "auto",
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-organize-imports"]
}
